<div class="header_hp center-align z-depth-1">
  <%=image_tag("nicki-eliza-schinow-356622 (1).jpg")%>
  <h2 class="main_title">Welcome</h2>
</div>
<br>
<br>
<br>
<h4 class="center-align">Explore These Cities</h4>
<br>
<div class="divider"></div>
<br>
<div class="row">
  <% @cities.each do |city| %>
<a href='<%= get_path_from_city(city) %>'>
  <div class="col l4 s12 m4">
    <div class="card">
      <div class="real-card">
        <div class="card-image">
          <img class="city_picture container" src="<%=city.image %>">
        </div>
        <span class="card-title card_title"><%= city.name %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br>
<br>
