<div class="header_hp center-align z-depth-1">
  <%=image_tag("nicki-eliza-schinow-356622.jpg")%>


    <h2 class="main_title">Welcome</h2>


</div>
  <br>
  <br>
<div class="container home_content">
  <h4 class="center-align"> Welcome to Junket! </h4>
    <br>
  <div class="divider"></div>
    <br>
  <div class="index_body">
    <h5>Create a Profile or</h5>
    <h5>check out the Cities tab</h5>
    <h5>in the navbar to</h5>
    <h5>view Posts</h5>
  </div>
    <br>
    <br>
</div>
