// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// User Information Panel
body {
  background-color: white;
}

* {
  font-weight: 200 !important;
  color: black;
  letter-spacing: 1px !important;
}

nav {
  position: fixed;
  z-index: 5;
  top: 0;
}

.user_info {
  margin: 5px 20px;
  width: 365px;
  min-height: 500px;
  background-color: rgb(46,218,202);
}

.info_wrap {
  height: max-content;
  font-weight: 300 !important;

}

.image_wrap {
  text-align: center;
}

.user_pic {
  width: 200px;
  margin-top: 15px;
}

.tips_wrap {
  margin-top: 20px;
  height: 430px;
  overflow: scroll;
}

.header img {
  top: 33px !important;
  position: fixed;
  z-index: -1;
}

img {
  width: 100%;
}

.home_content {
  width: 300px;
}

.index_body {
  color: white;
  text-align: center;
}

.header {
  width: 100vw;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.header_hp {
  width: 100vw;
  position: relative;
  height: 600px;
  top: 33px;
  margin-bottom: 100px;
}

.body_link {
  color: rgb(60,129,123);
  text-decoration: underline;
}

.post_link {
  color: rgb(46,218,202);
  font-weight: 300;
}

.city_link {
  text-decoration: underline;
  color: rgb(60,129,123);
  font-weight: 300;
  margin-left: 10px;
}

.nav-wrapper {
  background-color: rgb(60,129,123);
}

.junket {
  left: 10px;
}

.post_wrap {
  margin-left: 15px;
  margin-top: 10px;
}

.new-post {
  left: 10px;
  top: 10px;
}
.new-post-error {
  margin-left: 30px;

}

.city_name {
  text-align: center;
  position: absolute;
  width: 300px;
  margin: 10px 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  right: 15px;
  bottom: 20px;
}

.city_title {
  color: white !important;
}

.city_choice {
  left: 10px;
}

.main_title {
  position: absolute;
  color: white;
  top: 50px;
  right: 42%;
  // font-weight: 300 !important;
}

.page_body {
  margin-top: 84px !important;
  background-color: white !important;
}

.card-image {

}

.p_weight {
  font-weight: 400 !important;
}

.card {
  overflow: hidden;
}

.card-title a {
  color: white;
}

.real-card {
  position: relative;
}
.card_title {
  bottom: 15px;
  right: 15px;
  position: absolute;
  color: white;
}
.city_picture {
  height: 35vh;
  width: auto;
}

.post_background {
  background: white;
}

#dropdown1 {
  top: 65px !important;
  width: 238px !important;
}

.edit-user {
  margin-bottom: 30px;
  background-color: rgb(212,78,46) !important;
}
