// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// User Information Panel
.user_info {
  margin: 20px;
  width: 365px;
}

.info_wrap{
  height: 470px;
}

.image_wrap{
  text-align: center;
}

.user_pic {
  width: 200px;
  margin-top: 15px;
}
